
<label class="col-lg-2 control-label">Details</label>
<div class="col-lg-10">
    <textarea class="form-control" cols="60" rows="5" id="_textArea" name="deneme"></textarea>
</div>
<div>
    <p style="padding-left:1%" id="default-buttons-1" class="default-buttons">

        <a id="button_2" href="javascript:addOther();" class="button-back  btn btn-info">Save Other</a>
    </p>
</div>
