

<label class="col-lg-2 control-label">Name</label>
<div class="col-lg-10" style="padding-bottom:15px">
    <input type="text" class="form-control" cols="20" rows="15" id="name" />
</div>
<label class="col-lg-2 control-label">Price</label>
<div class="col-lg-10" style="padding-bottom:15px">
    <input type="text" class="form-control" cols="20" rows="15" id="price" />
</div>
<label class="col-lg-2 control-label">Card Name</label>
<div class="col-lg-2" style="padding-bottom:15px">
    <input type="text" class="form-control" cols="20" rows="15" id="card" />
</div>
<div class="col-lg-2" style="padding-bottom:15px">

    <a id="button_7" href="javascript:checkCardname();" class="button-back  btn btn-info">Read Card</a>
</div>

<div>
    <p style="padding-left:1%" id="default-buttons-1" class="default-buttons">

        <a id="button_2" href="javascript:addShift();" class="button-back  btn btn-info">Add Shift</a>
    </p>
</div>

